*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    color: #221314;
}
.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(240 248 255 / 75%);;
    padding: 26px;
    transition: ease-in-out .40s;   
}

.header .logo
{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #094f8d;
  }
  

.header .navbar
  {
      display: flex;
      list-style-type: none;
  }

.header .navbar a
  {
    color: #094f8d;
    font-size: 17.6px;
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
}

.header .navbar a:hover{
    background-color: #fff;
    color: #094f8d;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 9px;
}

.header .navbar a:active {
    background-color: #fff;
    color: #221314;
    box-shadow: inset 5px 10px 30px #B0E0E6;
    border-radius: 9px;
  }

#menu-icon{
    color: #221314;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
display: none;
}
#UserLogin-icon{
    color: #221314;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: inline;
    
}


main{
    display: flex;  
    align-items: center;  
    width: 100%;
    height: 100%;
    margin-top: 91px; /* hapsir nga lart qe mos me u shfaq detajet e main ne header(Slider)*/
}


#slider{
    display: flex;  
    align-items: center;  /* Center the items vertically within the container */
    width: 100%; /*Width and height per mos me na u zvoglu foto kur tbojm zoomout */
    height: 100%;
}
  
  
#img{
    position: static; /* E ngashme me relative */
    z-index: 999; /* Give the photo a lower z-index than the header */
    width: 100%;
    max-height: 90.5vh;
    object-fit: cover;
}
