*
 {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;

 }

<<<<<<< HEAD
.img-list {
    display: flex;
    flex-wrap: nowrap;
    margin: 6%;
    justify-content: space-between;
}
  
.img-list li .articles{
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    padding-right: 16px;
}
.img-list li p{
    font-size: 25px;
    font-weight: 600;
    text-align: justify;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: blue;
}
  
.img-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;

}
.articles:hover{
    transform: scale(1.1);
}
.articles:active{
    transform: translate(0, 5px);
}
.img-list li p:hover{
    text-decoration: underline;
}


/* .bw {
    filter: grayscale(100%);
    transition: filter 0.1s;
}
  
.bw:hover {
    filter: grayscale(0%);
} */


/* -------------------------------------- */
.heading {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 48px;
    color: #10221b;

}

.category .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(29rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    gap: 24px;
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .category .box-container .box {
    text-align: center;
    padding: 12px;
    margin-bottom: 20px;
  }
  
  .category .box-container .box img {
    height: 270px;
    width: 270px;
    border-radius: 50%;
    margin-bottom: 16px;
  }
  
  .category .box-container .box h3 {
    font-size: 32px;
    color: #094f8d;
  }
  
  .category .box-container .box p {
    font-size: 24px;
    color: #10221b;
    padding: 16px 0;
    line-height: 2;
  }

  .category .box-container .box .btn{
    font-size: 16px;
    color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
  }
  .category .box-container .box .btn:hover{
    background-color: #094f8d;
    color: #fff;
  }




/* Footer -----------------------*/

footer {
    padding-left: 140px;
    align-items: center;
=======
 .contact
 {
>>>>>>> 20841d18b43ae7b0387eb9bf6f55393fa77ca4a0
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background:url(bg-img.jpg) ;
    background-size :cover;
     
 }
 .contact.content
 {
    max-width: 800px;
    text-align: center;
 }
 .contact.content h2
 {
    font-size: 36px;
    font-weight: 500;
    color:#fff

 }
 .contact.content p
 {
    
    font-weight: 300;
    color:#fff
    
 }
 .container
 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

 }

.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;

}

.container .contactInfo .box .icon .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;

}

.container .contactInfo .box .icon .text h3
{
    font-weight: 500;
    color: aquamarine;
}
 .contactForm
 {
    width: 40%;
    padding: 40%;
    background: #fff;
 }
 .contactForm h2
 {
    font-size: 30px;
    color : #333 ;
    font-weight: 500;

 }
 .contactForm .inputBox
 {
    position: relative;
    width: 100%;
    margin-top: 10px;


 }

 .contactForm .inputBox input
 .contactForm .inputBox textarea
 {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;


 }
 .contactForm .inputBox span 
 {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color :#666



 }
.contactForm .inputBox input  :focus ~ span ,
.contactForm .inputBox input  :valid ~ span ,
.contactForm .inputBox textarea :focus ~ span ,
.contactForm .inputBox textarea :valid ~ span 
 {
    color: #e91e63;
    font-size:12px ;
    transform:translate(-20px) ;

 }
 .contactForm .inputBox input [type="submit"]
 {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

 }