*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background-image: url(background.jpg);
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
    position:absolute;
    height: 100%;
    width: 100%; 
}


.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(240 248 255 / 75%);
    padding: 20px;
    transition: ease-in-out .40s;   
}

.header .logo{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #094f8d;
    text-decoration: none;
  }
  
  .header .navbar
  {
      display: flex;
      list-style-type: none;
  }
  
  .header .navbar a{
      color: #094f8d;
      font-size: 17.6px;
      font-weight: 500;
      padding: 10px 22px;
      border-radius: 4px;
      transition: ease .40s;
      text-decoration: none;
  }

  .header .navbar a:hover{
      background-color: #fff;
      color: #094f8d;
      box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
      border-radius: 9px;
  }
  .header .navbar a:active {
      background-color: #fff;
      color: #221314;
      box-shadow: inset 5px 10px 30px #B0E0E6;
      border-radius: 9px;
    }

    
img
{
    width: 75%;
    border-radius: 2%;
    overflow: hidden;
    height: 355px;
}

.container
{
   margin: 150px auto;
   text-align: center;
   background-color: rgb(240 248 255 / 75%);
   width: 800px;
   height: 65vh;
   box-shadow: 30px 30px 20px rgb(0,0,0,0.3);
   color: #094f8d;
   padding: 10vh;
   font-size: 20px;
}

.container h2
{
    font-size: 35px;
}

.slider
{
    width: 750px;
    margin: 0 auto;
    padding-top: 20px;
}

h1
{
    padding: 15px;
}
.caption
{
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

.caption p
{
    font-size: 20px;
    overflow: hidden;
    visibility: hidden
}


button
{
    border: 1px;
    background-color: #094f8d;
    height: 45px;
    width: 100px;
    border-radius: 12px 0;
    font-size: 20px;
    cursor: pointer;
    color:#e8edf2;
    transition: 0.1s;
    overflow: hidden;
    font-size: 16px;
}

button:hover
{
    background-color:#e8edf2;
    color:#094f8d;
}


tag 
{
    width: 50px;
    color: #e8edf2;
    background-color: #094f8d;
    font-size: 12px;
    padding: 4px;
    border-radius: 12px;
    cursor: pointer;
}

tag:hover
{
    transition: 0.01s;
    overflow: hidden;
    font-size: 16px;
}
